<h1>Movies Overview</h1>

<%= form_with url: movies_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :actor, "Search by Actor:" %>
    <%= form.text_field :actor, value: params[:actor], placeholder: "Enter actor's name" %>
    <%= form.submit "Search" %>
  </div>
<% end %>

<% if @movies.present? && @movies.any? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Actors</th>
        <th>Filming Locations</th>
        <th>Average Rating</th>
        <th>Number of Reviews</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.year %></td>
          <td><%= movie.director&.name || 'N/A' %></td>
          <td>
            <%= movie.actors.pluck(:name).join(', ') %>
          </td>
          <td>
            <%= movie.filming_locations.pluck(:location).join(', ') %>
          </td>
          <td>
            <%= movie.reviews.average(:stars)&.round(2) || 'N/A' %>
          </td>
          <td>
            <%= movie.reviews.count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No movies available.</p>
<% end %>
